.services{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    gap:80px;
    /* margin:70px 6%; */
}
.services-format{
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:30px;
    gap:20px;
    border-radius:10px;
    border:2px solid white;
    cursor:pointer;
    transition:0.4s;
}
.services-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom:40px;
}
.services-format h2{
    font-size:30px;
    font-weight:800;
    align-items:center;
}
.services-format h3{
    font-size: 20px;
    font-weight:600;
}

.services-format:hover{
    transform:scale(1.05);
    transition:0.3s;
    cursor:pointer;
}
@media(max-width:768px){
    .services-container{
        display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    margin-left:5px;
    margin-right:5px;
    }
    .services-format{
        padding:10px;
    }
    .services-format h2{
        font-size:18px;
    }
    .services-format h3{
        font-size:16px;
    }
    .services{
        gap:20px;
    }

}
